[css]

bg {
  font-family: "Georgia", serif;

  line-height: 1.8;

  margin: 0;

  padding: 2rem;

  background: 
    url('https://raw.githubusercontent.com/Tougher-Together-DnD/default-game-assets/refs/heads/main/templates/handouts/images/standard/handout-page_1.png') top center no-repeat, /* Top image */

    url('https://raw.githubusercontent.com/Tougher-Together-DnD/default-game-assets/refs/heads/main/templates/handouts/images/standard/handout-page_3.png') bottom center no-repeat, /* Bottom image */

    url('https://raw.githubusercontent.com/Tougher-Together-DnD/default-game-assets/refs/heads/main/templates/handouts/images/standard/handout-page_2.png') center repeat-y; /* Middle image */

  background-size: contain, contain, auto;

  background-color: #f4f4f4;

  min-height: 100vh;

}

h1, h2, h3, h4, h5, h6 {

  font-family: "Cinzel", serif;

  color: #34627B;

  text-transform: uppercase;

  letter-spacing: 2px;

  text-shadow: 2px 2px 4px rgba(63,107,169, 0.8);

  margin-bottom: 1rem;

}

img:not([alt="Horizontal Ruler"]) {

  display: block;

  margin: 0 auto;

  margin-top: 60px;

  max-width: 100%;

}

p {

  font-family: "Georgia", serif;

  font-size: 20px !important;

  margin-bottom: 0px;

  text-indent: 0px !important;

}

blockquote {

  float:right;

  width: 40%;

  margin: 1.5rem !important;

  padding: 10px 10px !important;

  background-color: rgba(201, 159, 119, 0.5) !important;

  border-top: 3px solid #8655B6;

  border-bottom: 3px solid #8655B6;

  border-left: 0px solid;

  border-right: 0px solid;

  box-shadow: 1px 4px 14px #888;

}

table {

  width: 100%;

  border-collapse: collapse;

  margin: 1rem 0;

  font-size: 1rem;

  font-family: "Georgia", serif;

}

th, td {

  border: 1px solid #000 !important;

  padding: 8px;

  text-align: left;

}

th {

  background-color: #34627B;

  color: white !important;

  text-transform: uppercase;

}

tr:nth-child(odd) {

  background-color: rgba(118, 197, 120, 0.2);

}